DSCI 2012 - Data Wrangling

# Loading Your Own Data

This is just a brief "how to get started" notebook for reading in the data file that you created as part of this lab. It uses a 1,000 row fake dataset that has some resume-like data in it.

There are a few operations toward the end that might be interesting to you.

In [11]:
# import the pandas library to work with data frames
# there's no output when you run the import commands
# unless there is an error, so I added a "Print" statement
import pandas as pd
print("Libraries Loaded!")

Libraries Loaded!

In [7]:
# let's load the data file from your hard drive
# this is the first time you've loaded local data
# and this file location will only work if the file is in the same directory
# as your notebook
# Note - the "r" there before the name of the file is great for Windows users
resumeDataFrame = pd.read_csv(r'resumes.csv')
        
# let's look at the beginning
resumeDataFrame.head()

,id,first_name,last_name,email,gender,python_yn,interview_score,pandas_yn,state,highest_ed
0,1,Fidelio,Phittiplace,fphittiplace0@jalbum.net,Male,False,NaN,False,PA,12
1,2,Percy,Gethins,pgethins1@wunderground.com,Male,False,2.0,True,CA,16
2,3,Wilden,Lacroutz,wlacroutz2@simplemachines.org,Genderfluid,True,7.0,True,NM,8
3,4,Woody,Davidesco,wdavidesco3@bloglovin.com,Male,True,5.0,True,AR,17
4,5,Daffy,Blinckhorne,dblinckhorne4@stanford.edu,Female,False,NaN,True,OK,13

In [9]:
# let's look at the end
#resumeDataFrame.tail()

resumeDataFrame.index

RangeIndex(start=0, stop=1000, step=1)

In [4]:
# Let's find all the people who haven't been interviewed yet
resumeDataFrame[resumeDataFrame['interview_score'].isna()]

,id,first_name,last_name,email,gender,python_yn,interview_score,pandas_yn,state,highest_ed
0,1,Fidelio,Phittiplace,fphittiplace0@jalbum.net,Male,False,NaN,False,PA,12
4,5,Daffy,Blinckhorne,dblinckhorne4@stanford.edu,Female,False,NaN,True,OK,13
15,16,Tally,Baldam,tbaldamf@gravatar.com,Female,True,NaN,True,OK,3
17,18,Lynnea,Monier,lmonierh@plala.or.jp,Female,False,NaN,True,OH,18
19,20,Dru,Duham,dduhamj@tuttocitta.it,Male,False,NaN,False,VA,14
...,...,...,...,...,...,...,...,...,...,...
991,992,Cosette,Stedman,cstedmanrj@squarespace.com,Female,True,NaN,True,TX,10
994,995,Byran,Low,blowrm@vkontakte.ru,Male,True,NaN,True,IA,19
996,997,Lina,McTerlagh,lmcterlaghro@marriott.com,Genderqueer,True,NaN,False,TX,3
997,998,Sybilla,Tandy,standyrp@bluehost.com,Female,True,NaN,False,CA,18
999,1000,Kellyann,Labusch,klabuschrr@creativecommons.org,Bigender,True,NaN,False,FL,12

In [5]:
# Let's find the people who have greater than a college diploma

highlyEducatedFolks = resumeDataFrame.loc[(resumeDataFrame['highest_ed'] > 16)]
highlyEducatedFolks

,id,first_name,last_name,email,gender,python_yn,interview_score,pandas_yn,state,highest_ed
3,4,Woody,Davidesco,wdavidesco3@bloglovin.com,Male,True,5.0,True,AR,17
6,7,Jereme,Borrott,jborrott6@issuu.com,Male,True,2.0,True,CA,20
7,8,Terry,Bettesworth,tbettesworth7@i2i.jp,Male,True,3.0,True,TX,17
10,11,Care,Torbard,ctorbarda@soundcloud.com,Male,True,6.0,True,OH,20
17,18,Lynnea,Monier,lmonierh@plala.or.jp,Female,False,NaN,True,OH,18
...,...,...,...,...,...,...,...,...,...,...
986,987,Lissy,Degoe,ldegoere@wikipedia.org,Female,False,7.0,False,CO,20
989,990,Salvatore,Ganny,sgannyrh@posterous.com,Male,False,NaN,True,MD,18
994,995,Byran,Low,blowrm@vkontakte.ru,Male,True,NaN,True,IA,19
997,998,Sybilla,Tandy,standyrp@bluehost.com,Female,True,NaN,False,CA,18
998,999,Giff,Schwanden,gschwandenrq@tinypic.com,Male,False,1.0,True,OR,18

In [6]:
# how about those who have not been interviewed and are highly educated

interviewableEducatedFolks = resumeDataFrame.loc[(resumeDataFrame['highest_ed'] > 16) & (resumeDataFrame['interview_score'].isna())]
interviewableEducatedFolks

,id,first_name,last_name,email,gender,python_yn,interview_score,pandas_yn,state,highest_ed
17,18,Lynnea,Monier,lmonierh@plala.or.jp,Female,False,NaN,True,OH,18
29,30,Maribel,Shoebottom,mshoebottomt@yellowpages.com,Female,True,NaN,True,TX,17
31,32,Randy,Gokes,rgokesv@twitter.com,Male,True,NaN,False,WI,19
48,49,Bran,Rhydderch,brhydderch1c@accuweather.com,Male,False,NaN,False,OK,18
109,110,Tierney,McAndrew,tmcandrew31@dmoz.org,Female,True,NaN,True,MN,20
125,126,Geoffry,Fontelles,gfontelles3h@xrea.com,Genderfluid,False,NaN,True,CA,17
143,144,Arvy,Guye,aguye3z@dedecms.com,Male,False,NaN,False,DC,17
164,165,Bartlet,Stud,bstud4k@lulu.com,Male,True,NaN,True,NC,19
168,169,Roz,Cluely,rcluely4o@shop-pro.jp,Female,True,NaN,False,IN,20
197,198,Rowney,Kinvig,rkinvig5h@163.com,Male,False,NaN,False,OK,17
199,200,Modesta,Loakes,mloakes5j@archive.org,Female,False,NaN,False,MI,19
214,215,Marwin,Anthoney,manthoney5y@stumbleupon.com,Male,False,NaN,True,TX,19
224,225,Vittoria,Macartney,vmacartney68@ameblo.jp,Female,True,NaN,False,MO,20
230,231,Malcolm,Siebert,msiebert6e@slideshare.net,Male,True,NaN,False,FL,19
317,318,Ericha,Gino,egino8t@over-blog.com,Female,False,NaN,True,AZ,20
318,319,Marika,Plampin,mplampin8u@weather.com,Female,False,NaN,False,PA,18
366,367,Reade,Bontein,rbonteina6@qq.com,Male,True,NaN,True,VA,19
370,371,Andrey,Orsi,aorsiaa@free.fr,Male,True,NaN,False,VA,20
388,389,Meir,Huxter,mhuxteras@cdbaby.com,Non-binary,False,NaN,False,TX,18
404,405,Cort,Brower,cbrowerb8@wp.com,Bigender,True,NaN,False,FL,19
435,436,Zena,Broader,zbroaderc3@etsy.com,Female,True,NaN,False,OK,17
447,448,Ashla,Strapp,astrappcf@miibeian.gov.cn,Female,False,NaN,False,KS,18
475,476,Jonis,Ellerman,jellermand7@smugmug.com,Female,False,NaN,True,MD,19
496,497,Carl,Shorten,cshortends@opera.com,Male,True,NaN,False,TX,17
506,507,Eva,Charley,echarleye2@fastcompany.com,Female,False,NaN,False,CA,17
524,525,Gabbie,Becaris,gbecarisek@shinystat.com,Female,False,NaN,False,AL,20
530,531,Alanah,Eddow,aeddoweq@diigo.com,Female,True,NaN,False,PA,18
537,538,Brennan,Wipper,bwipperex@purevolume.com,Polygender,True,NaN,True,DE,17
545,546,Teodoro,Lilburne,tlilburnef5@house.gov,Male,True,NaN,False,AL,18
584,585,Marion,Sheringham,msheringhamg8@4shared.com,Male,False,NaN,True,AR,17
600,601,Lotta,Beldham,lbeldhamgo@ustream.tv,Female,False,NaN,False,DC,18
602,603,Clement,Huriche,churichegq@hp.com,Male,False,NaN,False,TX,17
618,619,Kayne,Emanulsson,kemanulssonh6@wikia.com,Male,False,NaN,False,TX,17
621,622,Vinnie,Fritschel,vfritschelh9@japanpost.jp,Female,True,NaN,False,LA,19
662,663,Siegfried,Bellchamber,sbellchamberie@wordpress.com,Male,True,NaN,True,AZ,20
708,709,Gav,Lapere,glaperejo@google.co.uk,Male,False,NaN,False,CA,20
711,712,Lenette,Pelman,lpelmanjr@gizmodo.com,Female,True,NaN,True,WA,20
713,714,Lonny,Harewood,lharewoodjt@com.com,Male,False,NaN,True,TX,17
754,755,Brock,Seacroft,bseacroftky@hp.com,Male,False,NaN,True,DC,17
805,806,Stevie,Hinnerk,shinnerkmd@cnbc.com,Male,True,NaN,False,TX,19
814,815,Xaviera,Anstee,xansteemm@friendfeed.com,Female,False,NaN,False,LA,18
820,821,Elli,Prodrick,eprodrickms@washington.edu,Female,True,NaN,False,KS,20
833,834,Rozamond,Vouls,rvoulsn5@wufoo.com,Female,False,NaN,True,NJ,18
902,903,Thomas,Mattingson,tmattingsonp2@ebay.com,Male,True,NaN,False,PA,17
959,960,Sigismundo,Sisse,ssisseqn@tamu.edu,Male,True,NaN,False,AZ,18
969,970,Fredric,Syncke,fsynckeqx@delicious.com,Male,True,NaN,True,CA,17
989,990,Salvatore,Ganny,sgannyrh@posterous.com,Male,False,NaN,True,MD,18
994,995,Byran,Low,blowrm@vkontakte.ru,Male,True,NaN,True,IA,19
997,998,Sybilla,Tandy,standyrp@bluehost.com,Female,True,NaN,False,CA,18

In [14]:
# let's find the average level of education by state
grouped = resumeDataFrame.groupby('state')
averageEducation = grouped['highest_ed'].mean()
averageEducation

state
AK    12.875000
AL    10.875000
AR    13.142857
AZ    12.863636
CA    10.210526
CO    11.238095
CT     7.222222
DC    11.523810
DE    10.000000
FL     9.592105
GA     9.037037
HI     9.200000
IA     9.000000
ID     6.333333
IL    10.692308
IN    10.789474
KS    12.142857
KY     8.538462
LA    11.736842
MA    10.750000
MD    11.076923
MI     9.136364
MN     9.882353
MO     8.909091
MS    12.666667
MT    11.000000
NC    11.280000
ND    17.000000
NE     8.000000
NH    15.000000
NJ    11.625000
NM    13.800000
NV     8.812500
NY    11.489796
OH    11.368421
OK    12.263158
OR    12.285714
PA    12.428571
SC    13.428571
SD     8.333333
TN    10.473684
TX    11.439024
UT     8.615385
VA    11.682927
WA     9.800000
WI    10.100000
WV     7.666667
WY    10.250000
Name: highest_ed, dtype: float64